@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased overflow-x-hidden;
    font-family: 'Inter', sans-serif;
  }
}

/* The Exact Figma Gradient */
.bg-figma-gradient {
  background: linear-gradient(135deg, #1E3A8A 0%, #050A30 50%, #1E3A8A 100%);
}